body {
    background-color: #395b68;
    margin: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: currentColor;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    transition: all .5s ease;

}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px; 
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: currentColor;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left:245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}    

header {
    background-color: #1B4353;
    color: #6DAEDB;
    padding: 10px;
    text-align: center;
    height: 100px;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.startknop {
    height: 100px;
    width: 400px;
    background-color: #1c4353;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: #6DAEDB;
    font-size: 48px;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}

.container img {
    width: 100%; 
    height: auto; 
    border: 1px solid #ccc; 
}